@page
@using TwitchStep02.Helper
@model TwitchStep02.Pages.CustomersModel
@{
}

<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>
                    <h1>Name</h1>
                </td>
                <td>
                    <h1>Email</h1>
                </td>
                <td>
                    <h1>Phone</h1>
                </td>
                <td>
                    <h1>Salary</h1>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (TwitchStep02.Models.Customer customer in Model.Customers.ToList())
            {
                <tr>
                    <td>
                        @customer.Name
                    </td>
                    <td>
                        @customer.Email
                    </td>
                    <td>
                        @customer.Phone
                    </td>
                    <td>
                        @*Extension Method*@
                        @customer.Salary.ToMoneyString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>